@import "../../app.scss";

.title{
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 40vw ;
    grid-template-rows:  1fr;
    animation: title-animate 1s;
    font-family: 'Righteous';
    
    @keyframes title-animate {
        0%{
            background: $primary-light;
        }
    }
    .title__logo__container{
        position: fixed;
        z-index: 4;
        top: 20px;
        left: 20px;
        height: 55px;
        width: 80px;
        border: 2px solid $primary-dark;
        background: rgba(56, 124, 187, 0.582);
        
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        animation: logo-animate 2.5s;
            @keyframes logo-animate {
                0%{
                    transform: rotateX(90deg);
                    opacity:0;
                }
                100%{
    
                }
            }
            
        .title__logo{
            background-image: url("./imgs/logo-grey.png");
            
            background-size: cover;
            background-position: center;
            height:50px;
            width: 60px;
            margin: 0 auto;
            color: $primary-dark;
            padding: 2px 20px;
            font-family: 'Righteous';
            
            
            
        }
    }
    .title__logo__container:hover{
        background: $primary-dark;
        border: 2px solid $secondary-dark;
    }

    .nav-closed{
        display: none;
    }
    
    

    .title__jumbotron{
        
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        margin: auto 0px;
        font-family: 'Ultra', serif;
        color: $secondary-dark;
        font-size: 3vh;
        padding: 4vw;
        
        h1{
        animation: jumbo-animate 1.5s;
        @keyframes jumbo-animate {
            0%{
                overflow: hidden;
                opacity: 0;
                overflow: hidden;
                transform: rotate3d(10,10,10,360deg);
                opacity: 0;
            }
            50%{
                
                opacity: 0;
                overflow: hidden;
                
            }
            100%{
                
                
            }
        }
    }
    
        p{
            font-family:'Righteous', cursive;
            color: $primary-light;
            font-size: 3vh;
            animation: p-animate 2s ease-in-out;
            @keyframes p-animate {
                0%{
                    opacity: 0;
                }
                80%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
        span{
            color: $primary-dark;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
        }
    }
    .title__info__container{
        position: absolute;
        z-index: 2;
        top:0px;
        right: 0;
        height: 300px;
        width: 300px;
        text-align: center;
        padding: 40px;
        color:$primary-light;
        
        a{
            color: $primary-light;
            transition: all 0.5s ease-in-out;
            
        }
        
        .title__img{
            background-image: url(./imgs/hero-img.jpg);
            background-position: center;
            background-size: cover;
            margin: 10px auto;
            
            height:100px;
            width: 100px;
            border-radius: 50%;
            border: 2px solid $primary;
            

        }
        h1{
            font-size: 20px;
            margin: 2px;
        }
        h2{
            font-size: 15px;
            margin: 2px;
        }
        .title__social__container{
            i{
                
                margin: 20px;
                font-size: 30px;
                transition: all .2s ease-in-out;
                
            }
            i:hover{
                color: $primary;
                transform: scale(.9)
            }
        }
    }
    
    .title__nav{
        transform: rotate(135deg);
        position: absolute;
        z-index:1;
        top:-500px;
        right: -550px;
        display: grid;
        grid-template-columns: 1fr 20px 10px;
        grid-template-rows: 520px 1fr 1fr 1fr 80px;
        grid-gap: 10px;
        background: $primary-dark;
        box-shadow: 200px 200px 500px;
        height: 1000px;
        width: 1000px;
        -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
        .title__nav__about,.title__nav__contact,.title__nav__projects{
            grid-column: 2;
            grid-row:4;
            font-family: 'Righteous', cursive;
            color: $primary;
            border-top: 1px solid $secondary-dark;
            border-left: 1px solid $secondary-dark;
            writing-mode: vertical-lr;
            text-orientation:mixed;
            text-align: left;
            transform: rotate(180deg);
            cursor: pointer;
            font-size: 20px;
            padding: 20px 0px 3px 0px;
            transition: all 0.2s ease-in-out;
            
        }
        .title__nav__contact{
            grid-column: 2;
            grid-row:3; 
        }
        .title__nav__projects{
            grid-column: 2;
            grid-row:2;
        }
        .title__nav__about:hover,.title__nav__contact:hover,.title__nav__projects:hover{
            color: $secondary-light;
            border-color: $primary;
        }
    }
    
    .title__triangle{
        z-index:0;
        position: absolute;
        transform: rotate(270deg);
        bottom: 0;
        right: 0px;
        height: 500px;
        width: 500px;
        background: rgb(0,0,0);
        background: linear-gradient(300deg, rgba(0,0,0,1) 0%, rgba(66,75,84,1) 80%);
        -webkit-clip-path: polygon(100% 100%, 0 0, 0 100%);
        clip-path: polygon(100% 100%, 0 0, 0 100%);
        box-shadow: 20px 20px 10px;
    }
    
}
