@import "../../app.scss";

.title{
    // position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr 40vw ;
    grid-template-rows:  1fr;
    animation: title-animate 1s;
    font-family: 'Righteous';
    

    .title__nav__background{
        display: none;
        position: fixed;
        top:0;
        z-index: 4;
        width: 100%;
        height: 60px;
        background:rgb(66, 75, 84);
        cursor: pointer;
    }
    .title__nav__button__opened,.title__nav__button__closed{
        display: none;
        position: fixed;
        background-position: center;
        background-size: cover;
        z-index: 5;
        top:10px;
        right: 20px;
        height: 40px;
        width: 65px;
        transition: all 0.2s ease-in-out; 
        border: 2px solid $primary-light;
        
        animation: nav-button-animate;
        @keyframes nav-button-animate {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        
    }
    
    
    @keyframes title-animate {
        0%{
            background: $primary-light;
        }
    }
    .title__logo__container{
        position: fixed;
        z-index: 4;
        top: 20px;
        left: 20px;
        height:45px;
        width: 70px;
        border: 2px solid $primary-light;
        background:rgb(255, 255, 255);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        animation: logo-animate 2.5s;
            @keyframes logo-animate {
                0%{
                    transform: rotateX(90deg);
                    opacity:0;
                }
                100%{
    
                }
            }
            
        .title__logo{
            background-image: url("./imgs/logo-grey.png");
            background-size: cover;
            background-position: center;
            height:40px;
            width: 50px;
            margin: 0 auto;
            padding: 2px 20px;
            font-family: 'Righteous';
        }
    }
    .title__logo__container:hover{
        background: $primary-light;
        border: 2px solid $primary-dark;
    }

    .nav-closed{
        display: none;
    }

    
    
    .title__jumbotron{
        position: relative;
        z-index: 3;
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        margin: auto 0px;
        font-family: 'Ultra', serif;
        color: $secondary-dark;
        font-size: 3vh;
        padding: 4vw;
        
        h1{
        animation: jumbo-animate 1.5s;
        @keyframes jumbo-animate {
            0%{
                overflow: hidden;
                opacity: 0;
                overflow: hidden;
                transform: rotate3d(10,10,10,360deg);
                opacity: 0;
            }
            50%{
                
                opacity: 0;
                overflow: hidden;
                
            }
            100%{
                
                
            }
        }
        
    }
    
        p{
            font-family:'Righteous', cursive;
            color: $primary-light;
            font-size: 3vh;
            animation: p-animate 2s ease-in-out;
            @keyframes p-animate {
                0%{
                    opacity: 0;
                }
                80%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
        span{
            
            font-family: 'Pacifico', cursive;
        }
        button{
            width: 150px;
            height: 60px;
            background: rgba(255, 255, 255, 0);
            backdrop-filter: blur(3px);
            color: $secondary;
            font-family: 'Ultra', serif;
            font-size: 18px;
            outline: none;
            border: 2px solid $secondary;
            padding: 8px;
            margin: 10px;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
        }
        button:hover,
        button:focus{
            background: $secondary;
            color: $primary-light;
        }
        
    }
    .title__contact__pop-up{
        position: fixed;
        top: 0;
        left: 0;
        z-index:10;
        width: 100%;
        height: 100%;
        background: rgba(83, 83, 83, 0.863);
        
        .title__contact__container{
            width: 50vh;
            height: 50vh;
            margin: 20vh auto;
            background: $primary;
            text-align: center;
            .title__contact__header{
                position: relative;
                z-index: 22;
                display: flex;
                
            h1{
                flex-basis: 3;
                flex-grow: 3;
                
                padding: 20px 70px 20px 20px;
                text-decoration: underline $primary-light;
                text-align: right;
                color: $secondary-dark;
            }
            h3{
                flex-basis: 1;
                padding: 20px;
                font-size: 30px;
                cursor: pointer;
                color: $primary-light;
                transition: all 0.3s ease-in-out;
            }
            h3:hover{
                color: $secondary-dark;
                ;
                background: $primary-light;
            }
        }
            ul{
                list-style: none;
                text-align: left;
                margin: 20px;
                li{
                    padding: 10px;
                    width: 80%;
                    height: 40px;
                    margin: 20px auto;
                    text-align: center;
                    background: $secondary-dark;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;   
                    a{
                        text-decoration: none;
                        color:$primary-light;
                        padding: 10px 105px;
                          
                    }
                    
                }
                
                li:hover{
                        
                        background: $primary-dark;
                        transform: scale(1.1)

                    }
                    
                
            }
        }
    }
    .pop-up-displayed{
        display: initial
    }
    .pop-up-hidden{
        display: none;
    }
    .title__info__container{
        position: absolute;
        z-index: 2;
        top:0px;
        right: 0;
        height: 300px;
        width: 300px;
        text-align: center;
        padding: 40px;
        color:$primary-light;
        
        a{
            color: $primary-light;
            transition: all 0.5s ease-in-out;
            
        }

        .title__img{
            background-image: url(./imgs/hero-img.jpg);
            background-position: center;
            background-size: cover;
            margin: 10px auto;
            height:100px;
            width: 100px;
            border-radius: 50%;
            border: 2px solid $primary;
            
        }
        h1{
            font-size: 25px;
            margin: 2px;
            font-family: 'Pacifico', cursive;
        }
        h2{
            font-size: 20px;
            margin: 2px;
        }
        .title__social__container{
            i{
                margin: 20px 10px;
                font-size: 30px;
                transition: all .2s ease-in-out;  
            }
            i:hover{
                color: $primary;
                transform: scale(.9)
            }
        }
    }
    
    .title__nav{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index:3;
        bottom: 0;
        right: 0;
        height: 80px;
        width: 30vw;
        
        
        .title__nav__about,.title__nav__contact,.title__nav__projects{
            position: relative;
            z-index: 3;
            font-family: 'Righteous', cursive;
            color: $primary;
            padding: 2px 10px;
            margin: 0 auto;
            text-align: center;
            cursor: pointer;
            font-size: 20px;
            transition: all 0.2s ease-in-out;
            
        }
        .title__nav__contact{
            grid-column: 2;
            grid-row:3; 
        }
        .title__nav__projects{
            grid-column: 2;
            grid-row:2;
        }
        .title__nav__about:hover,.title__nav__contact:hover,.title__nav__projects:hover{
            color:$primary;
        }
        .title__nav__about::after,
        .title__nav__projects::after,
        .title__nav__contact::after{
            display: inline-block;
            content: "";
            position: relative;
            z-index: -1;
            width: 10px;
            height: 25px;
            left: -68px;
            top: 6px;
            transform: scaleX(0.1);
            transform-origin: left;
            background: white;
            transition: all 0.2s ease-in-out;
            transition-delay: 0.3s;
            
        }
        .title__nav__about::before,
        .title__nav__projects::before,
        .title__nav__contact::before{
            
            display: inline-block;
            content: "";
            position: relative;
            z-index: -1;
            width: 10px;
            height: 25px;
            left: -1px;
            top: 6px;
            transform: scaleX(0.1);
            transform-origin: left;
            background:$primary;
            transition: all 0.2s ease-in-out;
            transition-delay: 0.2s;
        
        }
        
        .title__nav__projects::before
        {
            left:2px;
        }
        .title__nav__contact::before{
            left:0px;
        }
        .title__nav__projects::after,
        .title__nav__contact::after{
            left: -85px;
        }

        .title__nav__about:hover::after
        
        {
            transform: scaleX(8);
        }
        .title__nav__projects:hover::after,
        .title__nav__contact:hover::after{
            transform: scaleX(9)
        }
        .title__nav__about:hover::before
        
        {
            transform: scaleX(8); 
            
        }
        .title__nav__projects:hover::before,
        .title__nav__contact:hover::before{
            transition-delay: 0.2s;
            transform: scaleX(9)
        }
    }
    .title__top__triangle{
        transform: rotate(270deg);
        position: absolute;
        z-index:2;
        top:0px;
        right: 0px;
        background: $primary-dark;
        height: 600px;
        width: 600px;
        -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
        animation: opacity 0.5s ease-in-out;
        
    }
    .title__middle__square{
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        background:$secondary;
        width: 300px;
        height: 100vh;
        animation: opacity 1.2s ease-in-out;
        
    }
    
    .title__bottom__triangle{
        z-index:1;
        position: absolute;
        transform: rotate(270deg);
        bottom: 0;
        right: 0px;
        height: 600px;
        width: 600px;
        background: linear-gradient(300deg, rgba(0,0,0,1) 0%, rgba(66,75,84,1) 80%);
        -webkit-clip-path: polygon(100% 100%, 0 0, 0 100%);
        clip-path: polygon(100% 100%, 0 0, 0 100%);
        box-shadow: 20px 20px 10px;
        animation: opacity 1.5s ease-in-out;
        
    }
    @keyframes opacity {
        0%{
            width: 0;
            height: 0;
        }
        
        100%{
            
        }
    }
}