* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* body {
  background: #2374ab;
}

.title {
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40vw;
      grid-template-columns: 1fr 40vw;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-animation: title-animate 1s;
          animation: title-animate 1s;
  font-family: 'Righteous';
}

.title .title__nav__background {
  display: none;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 60px;
  background: #424b54;
  cursor: pointer;
}

.title .title__nav__button__opened, .title .title__nav__button__closed {
  display: none;
  position: fixed;
  background-position: center;
  background-size: cover;
  z-index: 5;
  top: 10px;
  right: 20px;
  height: 40px;
  width: 65px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 2px solid #F7F7F2;
  -webkit-animation: nav-button-animate;
          animation: nav-button-animate;
}

@-webkit-keyframes nav-button-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nav-button-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes title-animate {
  0% {
    background: #F7F7F2;
  }
}

@keyframes title-animate {
  0% {
    background: #F7F7F2;
  }
}

.title .title__logo__container {
  position: fixed;
  z-index: 4;
  top: 20px;
  left: 20px;
  height: 45px;
  width: 70px;
  border: 2px solid #F7F7F2;
  background: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  -webkit-animation: logo-animate 2.5s;
          animation: logo-animate 2.5s;
}

@-webkit-keyframes logo-animate {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
  }
}

@keyframes logo-animate {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
  }
}

.title .title__logo__container .title__logo {
  background-image: url("./imgs/logo-grey.png");
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 50px;
  margin: 0 auto;
  padding: 2px 20px;
  font-family: 'Righteous';
}

.title .title__logo__container:hover {
  background: #F7F7F2;
  border: 2px solid #9f9fad;
}

.title .nav-closed {
  display: none;
}

.title .title__jumbotron {
  position: relative;
  z-index: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: center;
  margin: auto 0px;
  font-family: 'Ultra', serif;
  color: #424b54;
  font-size: 3vh;
  padding: 4vw;
}

.title .title__jumbotron h1 {
  -webkit-animation: jumbo-animate 1.5s;
          animation: jumbo-animate 1.5s;
}

@-webkit-keyframes jumbo-animate {
  0% {
    overflow: hidden;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: rotate3d(10, 10, 10, 360deg);
            transform: rotate3d(10, 10, 10, 360deg);
    opacity: 0;
  }
  50% {
    opacity: 0;
    overflow: hidden;
  }
  100% {
  }
}

@keyframes jumbo-animate {
  0% {
    overflow: hidden;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: rotate3d(10, 10, 10, 360deg);
            transform: rotate3d(10, 10, 10, 360deg);
    opacity: 0;
  }
  50% {
    opacity: 0;
    overflow: hidden;
  }
  100% {
  }
}

.title .title__jumbotron p {
  font-family: 'Righteous', cursive;
  color: #F7F7F2;
  font-size: 3vh;
  -webkit-animation: p-animate 2s ease-in-out;
          animation: p-animate 2s ease-in-out;
}

@-webkit-keyframes p-animate {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes p-animate {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title .title__jumbotron span {
  font-family: 'Pacifico', cursive;
}

.title .title__jumbotron button {
  width: 150px;
  height: 60px;
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: #7a2f2f;
  font-family: 'Ultra', serif;
  font-size: 18px;
  outline: none;
  border: 2px solid #7a2f2f;
  padding: 8px;
  margin: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  -webkit-animation: button-animate 2.5s ease-in-out;
          animation: button-animate 2.5s ease-in-out;
}

@-webkit-keyframes button-animate {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes button-animate {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title .title__jumbotron button:hover,
.title .title__jumbotron button:focus {
  background: #7a2f2f;
  color: #F7F7F2;
}

.title .title__contact__pop-up {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(83, 83, 83, 0.863);
}

.title .title__contact__pop-up .title__contact__container {
  width: 50vh;
  height: 50vh;
  margin: 20vh auto;
  background: #2374ab;
  text-align: center;
}

.title .title__contact__pop-up .title__contact__container .title__contact__header {
  position: relative;
  z-index: 22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title .title__contact__pop-up .title__contact__container .title__contact__header h1 {
  -ms-flex-preferred-size: 3;
      flex-basis: 3;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  padding: 20px 0px 20px 60px;
  -webkit-text-decoration: underline #F7F7F2;
          text-decoration: underline #F7F7F2;
  text-align: center;
  color: #424b54;
}

.title .title__contact__pop-up .title__contact__container .title__contact__header h3 {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #F7F7F2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title .title__contact__pop-up .title__contact__container .title__contact__header h3:hover {
  color: #424b54;
  background: #F7F7F2;
}

.title .title__contact__pop-up .title__contact__container ul {
  list-style: none;
  text-align: left;
  margin: 20px;
}

.title .title__contact__pop-up .title__contact__container ul li {
  padding: 10px;
  width: 80%;
  height: 40px;
  margin: 20px auto;
  text-align: center;
  background: #424b54;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title .title__contact__pop-up .title__contact__container ul li a {
  text-decoration: none;
  color: #F7F7F2;
  padding: 10px 105px;
}

.title .title__contact__pop-up .title__contact__container ul li:hover {
  background: #9f9fad;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.title .pop-up-displayed {
  display: initial;
}

.title .pop-up-hidden {
  display: none;
}

.title .title__info__container {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0;
  height: 300px;
  width: 300px;
  text-align: center;
  padding: 40px;
  color: #F7F7F2;
}

.title .title__info__container a {
  color: #F7F7F2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.title .title__info__container .title__img {
  background-image: url(./imgs/hero-img.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #2374ab;
}

.title .title__info__container h1 {
  font-size: 25px;
  margin: 2px;
  font-family: 'Pacifico', cursive;
}

.title .title__info__container h2 {
  font-size: 20px;
  margin: 2px;
}

.title .title__info__container .title__social__container i {
  margin: 20px 10px;
  font-size: 30px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.title .title__info__container .title__social__container i:hover {
  color: #2374ab;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.title .title__nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 30vw;
}

.title .title__nav .title__nav__about, .title .title__nav .title__nav__contact, .title .title__nav .title__nav__projects {
  position: relative;
  z-index: 3;
  font-family: 'Righteous', cursive;
  color: #2374ab;
  padding: 2px 10px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.title .title__nav .title__nav__contact {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.title .title__nav .title__nav__projects {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.title .title__nav .title__nav__about:hover, .title .title__nav .title__nav__contact:hover, .title .title__nav .title__nav__projects:hover {
  color: #2374ab;
}

.title .title__nav .title__nav__about::after,
.title .title__nav .title__nav__projects::after,
.title .title__nav .title__nav__contact::after {
  display: inline-block;
  content: "";
  position: relative;
  z-index: -1;
  width: 10px;
  height: 25px;
  left: -68px;
  top: 6px;
  -webkit-transform: scaleX(0.1);
          transform: scaleX(0.1);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.title .title__nav .title__nav__about::before,
.title .title__nav .title__nav__projects::before,
.title .title__nav .title__nav__contact::before {
  display: inline-block;
  content: "";
  position: relative;
  z-index: -1;
  width: 10px;
  height: 25px;
  left: -1px;
  top: 6px;
  -webkit-transform: scaleX(0.1);
          transform: scaleX(0.1);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: #2374ab;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.title .title__nav .title__nav__projects::before {
  left: 2px;
}

.title .title__nav .title__nav__contact::before {
  left: 0px;
}

.title .title__nav .title__nav__projects::after,
.title .title__nav .title__nav__contact::after {
  left: -85px;
}

.title .title__nav .title__nav__about:hover::after {
  -webkit-transform: scaleX(8);
          transform: scaleX(8);
}

.title .title__nav .title__nav__projects:hover::after,
.title .title__nav .title__nav__contact:hover::after {
  -webkit-transform: scaleX(9);
          transform: scaleX(9);
}

.title .title__nav .title__nav__about:hover::before {
  -webkit-transform: scaleX(8);
          transform: scaleX(8);
}

.title .title__nav .title__nav__projects:hover::before,
.title .title__nav .title__nav__contact:hover::before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: scaleX(9);
          transform: scaleX(9);
}

.title .title__top__triangle {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  background: #9f9fad;
  height: 600px;
  width: 600px;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  -webkit-animation: object-fill 0.5s ease-in-out;
          animation: object-fill 0.5s ease-in-out;
}

.title .title__middle__square {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  background: #7a2f2f;
  width: 300px;
  height: 100vh;
  -webkit-animation: object-fill 1.2s ease-in-out;
          animation: object-fill 1.2s ease-in-out;
}

.title .title__bottom__triangle {
  z-index: 1;
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  bottom: 0px;
  right: 0px;
  height: 700px;
  width: 700px;
  background: linear-gradient(300deg, black 0%, #424b54 80%);
  -webkit-clip-path: polygon(100% 100%, 0 0, 0 100%);
  clip-path: polygon(100% 100%, 0 0, 0 100%);
  -webkit-box-shadow: 20px 20px 10px;
          box-shadow: 20px 20px 10px;
  -webkit-animation: object-fill 1.5s ease-in-out;
          animation: object-fill 1.5s ease-in-out;
}

@-webkit-keyframes object-fill {
  0% {
    overflow-x: hidden;
    width: 0;
    height: 0;
  }
  100% {
  }
}

@keyframes object-fill {
  0% {
    overflow-x: hidden;
    width: 0;
    height: 0;
  }
  100% {
  }
}
/*# sourceMappingURL=title.css.map */