* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* body {
  background: #2374ab;
}

@media screen and (max-width: 1100px) {
  .title .title__nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    bottom: 0;
    right: 0;
    height: 80px;
    width: 50vw;
  }
  .title .title__nav .title__nav__about, .title .title__nav .title__nav__contact, .title .title__nav .title__nav__projects {
    padding: 2px 10px;
    margin: 0 auto;
  }
  .title .title__top__triangle {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    top: 0px;
    right: -250px;
    height: 300px;
    width: 800px;
  }
  .title .title__bottom__triangle {
    height: 550px;
    width: 550px;
  }
  .title .title__middle__square {
    height: 100vh;
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .title {
    -ms-grid-rows: 1fr 30vh;
        grid-template-rows: 1fr 30vh;
  }
  .title .title__nav__background {
    display: initial;
  }
  .title .title__jumbotron {
    font-size: 4.5vw;
  }
  .title .title__jumbotron p {
    font-size: 4.5vw;
  }
  .title .title__jumbotron button {
    width: 80px;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    color: #7a2f2f;
    font-family: 'Ultra', serif;
    font-size: 10px;
    outline: none;
    border: 2px solid #7a2f2f;
    padding: 8px;
    margin: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .title .title__top__triangle {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    top: 0px;
    right: -250px;
    height: 300px;
    width: 800px;
  }
  .title .title__bottom__triangle {
    bottom: -100px;
    height: 450px;
    width: 450px;
  }
  .title .title__logo__container {
    top: 10px;
    height: 40px;
    width: 65px;
  }
  .title .title__logo__container .title__logo {
    background-image: url("./imgs/logo-grey.png");
    background-size: cover;
    background-position: center;
    height: 35px;
    width: 50px;
    margin: 0 auto;
    padding: 2px 20px;
    font-family: 'Righteous';
  }
  .title .title__nav__button__opened {
    background-image: url("./imgs/nav-opened-img.png");
    display: block;
  }
  .title .title__nav__button__closed {
    background-image: url("./imgs/nav-closed-img.png");
    display: block;
  }
  .title .title__middle__square {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    background: #7a2f2f;
    width: 150px;
    height: 100vh;
  }
  .title .title__nav__fake__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 4;
    background: rgba(255, 255, 255, 0);
  }
  .title .title__nav {
    position: fixed;
    z-index: 10;
    top: 60px;
    right: 0;
    width: 180px;
    height: 350px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 80% 1fr;
        grid-template-columns: 1fr 80% 1fr;
    -ms-grid-rows: 100px 1fr 1fr 1fr 10px;
        grid-template-rows: 100px 1fr 1fr 1fr 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-clip-path: none;
    clip-path: none;
    opacity: 0.9;
    -webkit-box-shadow: 6px 15px 25px;
            box-shadow: 6px 15px 25px;
    -webkit-animation: mobile-animate 0.5s ease-in-out;
            animation: mobile-animate 0.5s ease-in-out;
    background: #9F9FAD;
    border-bottom: 2px solid #2374ab;
    border-left: 2px solid #2374ab;
  }
  @-webkit-keyframes mobile-animate {
    0% {
      -webkit-transform: rotate3d(100, 100, 100, 145deg);
              transform: rotate3d(100, 100, 100, 145deg);
      opacity: 0;
    }
    100% {
      opacity: 0.9;
    }
  }
  @keyframes mobile-animate {
    0% {
      -webkit-transform: rotate3d(100, 100, 100, 145deg);
              transform: rotate3d(100, 100, 100, 145deg);
      opacity: 0;
    }
    100% {
      opacity: 0.9;
    }
  }
  .title .title__nav .title__nav__fake__background {
    position: absolute;
    left: 0;
    z-index: -1;
    content: "";
    width: 1000px;
    height: 180vh;
    background: red;
  }
  .title .title__nav .title__nav__about, .title .title__nav .title__nav__contact, .title .title__nav .title__nav__projects {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    text-orientation: unset;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    text-align: left;
    border: none;
  }
  .title .title__nav .title__nav__contact {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .title .title__nav .title__nav__projects {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .title .closed {
    display: none;
  }
  .title .opened {
    display: -ms-grid;
    display: grid;
  }
  .title .title__info__container {
    top: unset;
    bottom: 0vh;
  }
  .title .title__contact__pop-up {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(83, 83, 83, 0.863);
  }
  .title .title__contact__pop-up .title__contact__container {
    width: 40vh;
    height: 60vh;
    margin: 20vh auto;
    background: #2374ab;
    text-align: center;
  }
  .title .title__contact__pop-up .title__contact__container .title__contact__header {
    position: relative;
    z-index: 22;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title .title__contact__pop-up .title__contact__container ul {
    list-style: none;
    text-align: left;
    margin: 20px;
  }
  .title .title__contact__pop-up .title__contact__container ul li {
    padding: 10px;
    width: 80%;
    height: 40px;
    margin: 20px auto;
    text-align: center;
    background: #424b54;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .title .title__contact__pop-up .title__contact__container ul li a {
    text-decoration: none;
    color: #F7F7F2;
    padding: 5px 5px;
  }
  .title .title__contact__pop-up .title__contact__container ul li:hover {
    background: #9f9fad;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (max-width: 400px) {
  .title {
    -ms-grid-rows: 1fr 30vh;
        grid-template-rows: 1fr 30vh;
  }
  .title .title__jumbotron {
    font-size: 4.5vw;
  }
  .title .title__jumbotron p {
    font-size: 3.5vw;
  }
  .title__info__container {
    top: 20vh;
  }
}
/*# sourceMappingURL=title-queries.css.map */