@import "../../app.scss";
.title{
    height: 80vh;
    width: 80vw;
    


#title__three-animation{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    
     
}

.title__filter{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    
}

}