@import "../../app.scss";

.about__container{
    display: grid;
    grid-template-columns: 15% 1fr 5% 1fr 15%;
    grid-template-rows: 100px 100px 200px 1fr 100px 100px;
    height:100%;
    width: 100%;
    background: $primary-dark;
    font-family: 'Righteous';

    .about__top__triangle{
        position: relative;
        z-index: 2;
        grid-column: 1/-1;
        grid-row: 2/-1;
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        height: 90vw;
        width: 60vw;
        background: $secondary;
        
    }

    .about__bottom__triangle{
        grid-column: 1/-1;
        grid-row: 3/-1;
        width:100%;
        height: 101%;
        background: $primary;
        -webkit-clip-path: polygon(30% 0, 100% 50%, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(30% 0, 100% 50%, 100% 100%, 0 100%, 0 0);
    }
    
    
    .about__header__divider{
        grid-column: 1/-1;
        grid-row:1;
        width: 100%;
        position: relative;
        z-index: 2;
        height: 100%;
        background: $secondary-dark;
        box-shadow: 0px 0px 15px;
        

    }

    .about__header{
        grid-column: 1/-1;
        grid-row: 3;
        text-align: right;
        z-index: 3;
        font-size: 20vw;
        color: rgba(255, 255, 255, 0.103);
    }
        
        
        .about__content__container{
            z-index: 2;
            grid-column: 2/3;
            grid-row: 3/5;
            text-align: right;
            width: 100%;
            background: rgba(53, 53, 53, 0.582);
            

            i{
                font-size: 6vw;
                padding-top: 10px;
                padding-right: 10px;
                color: $primary-light;
                background: rgba(159, 159, 173, 0.233);
                
                border-bottom-left-radius: 50%;
                
            }

            .about__content__header{
                display: block;
                text-align: center;
                color: $primary;
                padding: 1.5vw;
                font-size: 2.5vw;
            }
            

            hr{
                width: 50%;
                height: 0.3vw;
                margin:1vw auto;
                background: $primary-dark;
                border: none;
            }
        
            .about__content{
                color:$secondary-light;
                text-align: center;
                font-size: 2vw;
                line-height: 3vw;
                padding: 3vw;   
            }
    }

    .about__skills__container{
        position: relative;
        grid-column: 4;
        grid-row: 4/6;
        width: 100%;
        background: rgba(53, 53, 53, 0.582);
        text-align: left;

        i{
            font-size: 5vw;
            padding: 10px;
            color: $primary-light;
            background: rgba(159, 159, 173, 0.233);
            border-bottom-right-radius: 50%;
            
        }
        h3{
                display: block;
                text-align: center;
                color: $primary;
                padding: 1vw;
                font-size: 3vw;
        }
        hr{
            width: 50%;
            height: 0.3vw;
            margin:1vw auto;
            background: $primary-dark;
            border: none;
        }
        ul{
            list-style: none;
            text-align: center;
            
            li{
                color:$secondary-light;
                font-size: 2vw;
                line-height: 5vw;
                 
            }
        }
    }
    
    
}
