@media screen and (max-width:900px){
    .about__container{
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 100px 100px 1fr 100px 1fr 100px;

        .about__header{
            grid-column: 1/-1;
            grid-row: 2/3;
            z-index: 3;
            font-size: 22vw;
            
        }
        
            .about__content__container{
                grid-column: 2/3;
                grid-row: 3;

                i{
                    font-size: 8vw;  
                }
    
                .about__content__header{ 
                    padding: 1.5vw;
                    font-size: 4vw;
                }
                
    
                hr{
                    width: 40%; 
                }
            
                .about__content{
                    font-size: 4vw;
                    line-height: 5vw;
                    padding: 4vw;   
                }
        }
    
        .about__skills__container{
            grid-column: 2;
            grid-row: 5;
            width: 100%;
            text-align: left;
    
            i{
                font-size: 8vw;
                background: rgba(114, 114, 114, 0.26);
            }
            h3{
                    font-size: 5vw;
            }
            hr{
                width: 40%;
                
            }
            ul{
                padding: 2vw;
                
                li{
                    
                    font-size: 4vw;
                    line-height: 8vw;
                     
                }
            }
        }
        
        
    }
}

@media screen and (max-width:500px){
    .about__container{
    .about__header{
        
        font-size: 20vw;
        text-align: center;
        
    }
}
}


