@import "../../app.scss";

.title-secondary__container{
    height: 100vh;
    background: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 20px;
    grid-template-rows: 1fr 4fr 2fr;
    font-family: 'Righteous';
    background: $primary;

    .title-secondary__logo{
        position: absolute;
        top: 22px;
        left: 80px;
        font-size: 45px;
        border: none;
        font-family: 'Satisfy', cursive;
        letter-spacing: 2px;
        color: $primary-dark;
        background: $primary;
    }

    .title-secondary__nav__container{
        position: relative;
        z-index: 10;
        grid-column: 2/4;
        grid-row: 1;
        height: 40%;
        width: 100%;
        margin: auto;
        border-left:1px solid $primary-dark;
        text-align: center;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        
        
        button{
            background: 0;
            border: 0;
            height: 35px;
            line-height: 40px;
            margin: auto;
            cursor: pointer;
            color: rgba($primary-dark, .7);
            background:$primary;
            font-family: 'Satisfy', cursive;
            font-size: 26px;
            outline: none;         
        }

        

        button::after{
            display: inline-block;
            content: "";
            position: relative;
            z-index: -1;
            width: 9.5px;
            height: 30px;
            left: -68px;
            top: 6px;
            transform: scaleX(0);
            transform-origin: left;
            background: $secondary-dark;
            transition: all 0.2s ease-in-out;
            transition-delay: 0.1s;
        }

        button::before{
            display: inline-block;
            content: "";
            position: relative;
            z-index: -1;
            width: 9.5px;
            height: 30px;
            left: -1px;
            top: 6px;
            transform: scaleX(0);
            transform-origin: left;
            background:white;
            transition: all 0.2s ease-in-out;
            transition-delay: 0.2s;
        }
        
        
        button:nth-child(1)::before
        {
            left:3px;
        }

        button:nth-child(2)::before{
            left:6px;
            width: 9px;
        }
        
        button:nth-child(1)::after{
            left: -85px;
        }

        button:nth-child(2)::after{
            left: -76px;
            width: 9px;
        }

        button:hover::after{
            transform: scaleX(9.3);
            transition-delay: 0.3s;
        }
        
        button:hover::before{
            transform: scaleX(9);
            
        }
    }

    .title-secondary__contact__pop-up{
        position: fixed;
        top: 0;
        left: 0;
        z-index:10;
        width: 100%;
        height: 100%;
        background: rgba(83, 83, 83, 0.863);
        
        .title-secondary__contact__container{
            width: 400px;
            height: 400px;
            margin: 20vh auto;
            background: $primary;
            text-align: center;

            .title-secondary__contact__header{
                position: relative;
                z-index: 22;
                display: flex;
                
            h1{
                flex-basis: 3;
                flex-grow: 3;
                
                padding: 20px 0px 20px 60px;
                text-decoration: underline $primary-light;
                text-align: center;
                color: $secondary-dark;
            }

            h3{
                flex-basis: 1;
                padding: 20px;
                font-size: 30px;
                cursor: pointer;
                color: $primary-light;
                transition: all 0.3s ease-in-out;
            }

            h3:hover{
                color: $primary-light;
                ;
                background: $secondary;
            }
        }
            ul{
                list-style: none;
                text-align: left;
                margin: 20px;

                li{
                    padding: 10px;
                    width: 80%;
                    height: 40px;
                    margin: 20px auto;
                    text-align: center;
                    background: $secondary-dark;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    a{
                        text-decoration: none;
                        color:$primary-light;
                        padding: 10px 105px;     
                    }
                }
                
                li:hover{
                        background: $primary-dark;
                        transform: scale(1.1)
                    }
                    
                
            }
        }
    }
    .pop-up-displayed{
        display: initial
    }
    .pop-up-hidden{
        display: none;
    }
    .title-secondary__jumbotron{
        position: relative;
        z-index: 4;
        grid-column: 1/4;
        grid-row: 1/-1;
        margin: 20vh 200px 0 0;
        
        h1{
            color: white;
            font-size: 3vw;
            margin-top: 150px;
            text-align:center;
        }
        
        p{
            color: rgba(255, 255, 255, 0.701);
            padding:20px 200px;
            font-size: 1.5vw; 
            text-align: center;
        }
    }
    .title-secondary__call-to-action{
        position: relative;
        z-index: 4;
        grid-column: 4/-1;
        grid-row: 3;
        height: 150px;
        width: 150px;
        margin:100px auto; 
        border-radius: 50%;
        border: 2px solid $secondary;
        color: white;
        font-size: 25px;
        padding: 30px;
        background: rgba(128, 0, 128, 0);
        text-align: center;
        cursor: pointer;
        outline: rgba(255, 255, 255, 0);
        font-family: 'Righteous';
        transition: 0.5s all ease-in-out;
        box-shadow: 0 0 0 0 rgba($secondary, .5);
        animation: pulse 3s infinite; 
    }
    @keyframes pulse {
        0% {
            height: 150px;
            width: 150px;
        }
        70% {
            height: 170px;
            width: 170px;
            margin:90px auto; 
          box-shadow: 0 0 0 50px rgba(#ffffff, 0);
        }
          100% {
            height: 150px;
            width: 150px;
          box-shadow: 0 0 0 0 rgba(#ffffff, 0);
        }
      }
    
    .title-secondary__call-to-action:hover,
    .title-secondary__call-to-action:active{
        background: $secondary;
        animation: none;
    }
    
    .title-secondary__triangle{
        grid-column: 2/6;
        grid-row: 1/-1;
        height: 100%;
        background: $secondary-dark;
        background: linear-gradient(300deg,  rgb(79, 83, 88)  20%,rgba(141, 153, 174, 1)70%);
        clip-path: polygon(50% 0%, 0 100%, 100% 100%);

    }

    .title-secondary__background-right{
        height: 100%;
        width: 100%;
        background: white;
        grid-column: 4/-1;
        grid-row: 1/-1;
    }

    .title-secondary__border-right{
        background: $secondary;
        height: 100%;
        width: 100%;
        grid-column:6;
        grid-row: 1/-1;
    }

    .title-secondary__computer-img{
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 20px;
        height: 700px;
        width: 1300px;
        background-position: center;
        background: url(../../assests/imgs/computer-coffee-lazy.webp);
        background-size: cover;
        background-repeat: no-repeat;
        filter: brightness(0.16);
    }
    
}