@import '../../app.scss';


@media screen and (max-width: 1500px){
    .title-secondary__container{
    

        .title-secondary__logo{
           left: 40px;
           top: 10px;
           font-size: 30px;
        }
    
        .title-secondary__nav__container{
            grid-column: 2/4;
            grid-row: 1;
            grid-template-columns: 1fr 1fr;
            margin: 10px 0;
            padding: 0;
            
            
            
            
            
            button{
              margin: 0;
              height: 100%;
              
            }
            button:hover{
               color:$secondary;
            }
            
        }
        
       
        .title-secondary__jumbotron{
            grid-column: 1/3;
            grid-row: 2/4;
            margin: 0vh 20px;
            
            
            h1{
                font-size: 4vw;  
                text-align: center;

            }
            p{
                font-size: 2.5vw; 
                text-align: center;
                padding:20px 40px;
            }
        }
        
    }

}

@media screen and (max-width: 1200px){
    .title-secondary__container{

    .title-secondary__computer-img{
        height:500px;
        width: 800px;
        bottom: -100px;
    }
}
}


@media screen and (max-width: 700px){
    .title-secondary__container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0px;
        
        .title-secondary__logo{
            display: none;
        }
    
        .title-secondary__nav__container{
            grid-column: 1/-1;
            border-left:none;
            margin:0;
            color: white;

            button{
               background: $secondary;
               color: $primary-light;
            }
            button:hover,
            button:active{
               color:$primary-light;
            }
            
        }
        
       
        .title-secondary__jumbotron{
            grid-column: 1/-1;
            grid-row: 1/4;
            margin: 120px auto;
            padding: 0;
            
            h1{
                font-size: 8vw;  
                text-align: center;
                margin: 0;

            }
            p{
                font-size: 5vw; 
                padding: 20px 60px;
                text-align: center;
                
            }
        }
        .title-secondary__call-to-action{
            grid-column: 1/-1;
        grid-row: 2/4;
            height: 120px;
            width: 120px;
            margin:auto; 
            color: white;
            font-size: 15px;
            background:$secondary;
            animation:none; 
        }
        
        
        .title-secondary__triangle{
           background: $primary;
        }
    
        .title-secondary__background-right{
            background: $primary;
        }
    
        .title-secondary__border-right{
            display: none;
        }
    
        .title-secondary__computer-img{
            background-image: url('../../assests/imgs/computer-coffee-mobile.webp');
            clip-path: none;
            right: 0;
            top: 0;
            height:100vh;
            width: 100vw;
        }
    }

}

