@import '../../app.scss';

@media screen and (max-width: 1500px){
    .title-secondary__container{
    

        .title-secondary__logo{
           
        }
    
        .title-secondary__nav__container{
            grid-column: 2/5;
            grid-template-columns: 1fr 1fr 1fr;
            
            
            
            button{
              
            }
            button:hover{
               
            }
            button::after{
                
                
            }
            button::before{
              
            
            }
            
            button:nth-child(1)::before
            {
               
            }
            button:nth-child(2)::before{
               
            }
            
            button:nth-child(1)::after{
               
            }
            button:nth-child(2)::after{
               
            }
    
            button:hover::after{
               
            }
            
            button:hover::before{
               
                
            }
        }
        .title-secondary__contact__pop-up{
           
            
            .title-secondary__contact__container{
               
                .title-secondary__contact__header{
                   
                h1{
                                      
                }
                h3{
                    
                }
                h3:hover{
                   
                }
            }
                ul{
                   
                    li{
                         
                        a{
                          
                        }
                        
                    }
                    
                    li:hover{
                            
                          
    
                        }
                        
                    
                }
            }
        }
       
        .title-secondary__jumbotron{
            grid-column: 1/3;
            grid-row: 2/4;
            margin: 0vh 20px;
            
            
            h1{
                font-size: 4vw;  
                text-align: center;

            }
            p{
                font-size: 2.5vw; 
                text-align: center;
                padding:20px 40px;
            }
        }
        .title-secondary__call-to-action{
           
        }
        
        
        .title-secondary__triangle{
           
        }
    
        .title-secondary__background-right{
            
        }
    
        .title-secondary__border-right{
            // background: white;
        }
    
        .title-secondary__computer-img{
            height:500px;
            width: 1100px;
        }
    }

}

@media screen and (max-width: 700px){
    .title-secondary__container{
    

        .title-secondary__logo{
            
            background: $primary;
        }
    
        .title-secondary__nav__container{
            grid-column: 1/-1;
            grid-template-columns: 1fr 1fr 2fr;
            border-left:none;
            
            
            button{
              
            }
            button:hover{
               
            }
            button::after{
                
                
            }
            button::before{
              
            
            }
            
            button:nth-child(1)::before
            {
               
            }
            button:nth-child(2)::before{
               
            }
            
            button:nth-child(1)::after{
               
            }
            button:nth-child(2)::after{
               
            }
    
            button:hover::after{
               
            }
            
            button:hover::before{
               
                
            }
        }
        .title-secondary__contact__pop-up{
           
            
            .title-secondary__contact__container{
               
                .title-secondary__contact__header{
                   
                h1{
                                      
                }
                h3{
                    
                }
                h3:hover{
                   
                }
            }
                ul{
                   
                    li{
                         
                        a{
                          
                        }
                        
                    }
                    
                    li:hover{
                            
                          
    
                        }
                        
                    
                }
            }
        }
       
        .title-secondary__jumbotron{
            grid-column: 2/5;
            grid-row: 2/4;
            
            
            
            h1{
                font-size: 6.5vw;  
                text-align: center;

            }
            p{
                font-size: 3.5vw; 
                text-align: center;
                
            }
        }
        .title-secondary__call-to-action{
            
            height: 120px;
            width: 120px;
            margin:30px auto 0 auto; 
            color: white;
            font-size: 15px;
            background:$secondary;

        }
        
        
        .title-secondary__triangle{
           background: $secondary;
        }
    
        .title-secondary__background-right{
            
        }
    
        .title-secondary__border-right{
            // background: white;
        }
    
        .title-secondary__computer-img{
            height:800px;
            width: 1600px;
        }
    }

}

