@import "../../app.scss";
.three-animation{ 
    overflow: hidden;
    box-sizing: border-box;
    background: $primary;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    overflow-x:hidden;
    
       
#three-animation__canvas{  
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

}