@media screen and (max-width:700px){
.project-container__container{


   .projects-container__header{ 
    
    margin-top: 10vw;
   
}     
}
}
@media screen and (max-width:500px){
.project-container__container{


   .projects-container__header{ 
    text-align: center;
    margin-top: 0;
   
}     
}
}

