@media screen and (max-width:1300px){.project-container__container{
    .projects-container__header{ 
        font-size: 5vw;
    width: 30vw;
    
} 
        
        
    
}
}
@media screen and (max-width:600px){.project-container__container{
    .projects-container__header{ 
        font-size: 8vw;
    width: 40vw;
    
    
    

} 
        
        
    
}
}
