@import "../../app.scss";

.project-container__container{
    display: grid;
    grid-template-rows: 150px 1fr 1fr 1fr 1fr 100px;
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 80px 0;
    height: 100%;
    width: 100%;
    background: rgb(35,116,171);
    background: rgb(35,116,171);
    background: rgb(35,116,171);
    background: linear-gradient(176deg, rgba(35,116,171,1) 23%, rgba(63,134,182,1) 39%, rgba(79,144,188,1) 53%, rgba(90,151,192,1) 68%, rgba(134,179,209,1) 74%, rgba(255,255,255,1) 100%);

   .projects-container__header{ grid-column: 2;
    grid-row: 1;
    width: 50%;
    height: 90px;
    padding: 20px;
    margin:60px auto;
    font-size: 50px;
    font-family: "Righteous";
    color: $primary-dark;
    border-bottom: 5px solid $primary-light;
    border-left: 5px solid $primary-light;
    

} 
        
        
    
}
