@import "../../app.scss";

.project-container__container{
    
    display: grid;
    grid-template-rows: 20vw 1fr 1fr 1fr 1fr 100px;
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 80px 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(176deg, rgba(35,116,171,1) 15%, rgba(63,134,182,1) 30%, rgba(79,144,188,1) 45%, rgba(90,151,192,1) 60%, rgba(100,157,196,1) 75%, rgba(114,166,201,1) 90%, rgba(134,179,209,1) 100%);
    


   .projects-container__header{ 
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 20vw;
    font-family: "Righteous";
    color: rgba(159, 159, 173, 0.24);
    
    

} 
        
        
    
}
