
$primary: rgb(35, 116, 171);
$primary-light:#F7F7F2;
$primary-dark:rgb(159, 159, 173);
$secondary:rgb(122, 47, 47);
$secondary-light:#fcf7ff;
$secondary-dark:rgb(66, 75, 84);



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    body{
        background: $primary
    }
}