$main-orange: #e4572e;
$main-green:#225560;
$main-grey:#949396;
$main-white:#fcf7ff;
$main-brown:#5F5449;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    body{
        background: $main-orange;
    }
}
