
$primary: rgba(46, 41, 78, 1);
$primary-light:rgb(209, 209, 209);
$primary-dark:rgba(141, 153, 174, 1);
$secondary:rgba(72, 22, 32, 1);
$secondary-light:#fcf7ff;
$secondary-dark:rgba(141, 153, 174, 1);


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    body{
        background: $secondary;
    
    }
    
}


